*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
    
body{
    font-family: 'Open Sans', sans-serif;  
    font-size: 16px;
    background-image: url(/images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 55%;

   
    background-color: hsl(257, 40%, 49%); 
}

section{
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
   
}

.container{
    display: grid;
    grid-template-columns: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
}
.logo{
    margin-bottom: 90px;
    grid-area: logo;
    grid-area: span 1 / span 1;
}

.huddle{
    width: 45%;
}

.mockup{
    width: 100%;
    margin-bottom: 40px;
}

.words{
    color: white;
    line-height: 1.6;
    text-align: center;
}

.words h1{
    font-size: 30px;
    margin-bottom: 20px;
}

.words p{
    margin-bottom: 5px;
    line-height: 1.8;
}

#button{
text-decoration: none;
color: hsl(257, 40%, 49%);
background-color: white;
padding: 15px;
width: 80%;
display: inline-block;
margin-bottom: 80px;
margin-top: 30px;
border-radius: 50px;
}

.social{
    text-align: center;
    margin-bottom: 20px;
}

.social img{
    width: 8%;
    margin: 10px;
}
    
footer{
    color:white;
}

@media only screen and (min-width: 820px){

    body{
        font-family: 'Open Sans', sans-serif;  
        font-size: 16px;
        background-image: url(/images/bg-desktop.svg);
        background-size: cover;
    }

    .container{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 30% 50% 20%;
        max-width: 1400px;
        margin: 0 auto;
        padding: 50px;
    }

    .logo{
        grid-column: 1 / 2;
    }

    .mockup{
        grid-row-start: 2;
    }

    .words{
        grid-row-start: 2;
        padding-left: 50px;
    }

    .contain2 {
        grid-row-start: 3;
        grid-column-start: 2;
    }

    #button{
        text-decoration: none;
        color: hsl(257, 40%, 49%);
        background-color: white;
        padding: 15px;
        width: 40%;
        display: inline-block;
        margin-bottom: 80px;
        margin-top: 30px;
        border-radius: 50px;

    }
    
  

}  
  

  

