*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
    
body{
    font-family: 'Open Sans', sans-serif;  
    font-size: 16px;
    background-image: url(/images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 55%;

   
    background-color: hsl(257, 40%, 49%); 
}

section{
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
   
}

.container{
    display: grid;
    grid-template-columns: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
}
.logo{
    margin-bottom: 90px;
    grid-area: logo;
    grid-area: span 1 / span 1;
}

.huddle{
    width: 45%;
}

.mockup{
    width: 100%;
    margin-bottom: 40px;
}

.words{
    color: white;
    line-height: 1.6;
    text-align: center;
}

.words h1{
    font-size: 30px;
    margin-bottom: 20px;
   
}

.words p{
    margin-bottom: 5px;
    line-height: 1.8;
    
}

#button{
text-decoration: none;
color: hsl(257, 40%, 49%);
background-color: white;
padding: 15px;
width: 70%;
display: inline-block;
margin-bottom: 80px;
margin-top: 30px;
border-radius: 50px;
box-shadow: 0px 0px 15px 2px rgb(61, 43, 92);

}

.social{
    width: 30%;
    
    text-align: center;
    margin-bottom: 20px;
    list-style-type: none;
}

.social img{
    width: 30%;
}
  
}
    
footer{
    color:white;
}

@media only screen and (min-width: 1100px){

    body{
        font-family: 'Open Sans', sans-serif;  
        font-size: 16px;
        background-image: url(/images/bg-desktop.svg);
        background-size: cover;
    }

    .container{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 30% 50% 20%;
        max-width: 1400px;
        margin: 0 auto;
        padding: 50px;
    }

    .logo{
        grid-column: 1 / 2;
    }

    .words h1{
        font-size: 40px;
        margin-bottom: 20px;
        letter-spacing: 2px;
    }
    
    .words p{
        margin-bottom: 5px;
        line-height: 1.6;
        font-size: 20px;
    }

    .mockup {
        grid-row-start: 2;
    }

    .words{
        grid-row-start: 2;
        padding-left: 50px;
        text-align: justify;
    }

    .wrapper{
        grid-column-start: 2;
        grid-row-start: 3;
    }
    .social{
        width: 20%;
        
        text-align: center;
        margin-bottom: 20px;
        list-style-type: none;
    }
    
   

    .buttoncontainer{
        text-align: left;
    }
    #button{
        text-decoration: none;
        color: hsl(257, 40%, 49%);
        background-color: white;
        padding: 15px;
        width: 35%;
        display: inline-block;
        margin-bottom: 80px;
        margin-top: 30px;
        border-radius: 50px;
        text-align: center;
        font-size: 20px;
        box-shadow: 0px 0px 15px 2px rgb(61, 43, 92);

    }

    .attribution a{ 
        color: rgb(255, 255, 255);
    }
    
  

}  
  

  

